{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
    <!-- https://boxicons.com/usage -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <span class="bg-animate"></span>
      <span class="bg-animate2"></span>
      <div class="form-box login">
        
            <h4 class="animation" style="--i: 17; --j: 0">SignIn</h4>
    
            <form method="post">
                {%csrf_token%}
              <div class="input-box animation" style="--i: 18; --j: 1">
               {{form.email}}
                <label>Email</label>
                <i class="bx bxs-envelope"></i>
              </div>
              <div class="input-box animation" style="--i: 19; --j: 2">
                {{form.password}}
                <label>Password</label>
                <i class="bx bxs-lock-alt"></i>
              </div>
    
              <button type="submit" class="btn animation" style="--i: 22; --j: 5">
                Login
              </button>
              <div class="logreg-link animation" style="--i: 23; --j: 6">
                <!-- <p>
                  Already amember ?
                  <a href="#" class="login-link animation">LogIn</a>
                </p> -->
                <p>
                  Not Registered ?
                  <a href="{% url 'signUp' %}" class="login-link animation">Create an account</a>
                </p>
              </div>
            </form>
          </div>
      
        <script src="{% static 'js/form.js' %}"></script>
    </body>
  </html>
  