{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
    <!-- https://boxicons.com/usage -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <span class="bg-animate"></span>
      <span class="bg-animate2"></span>
      <div class="form-box login">
        <!-- <h4 class="animation" style="--i: 0; --j: 21; padding-top: 5px">
          SignUp
        </h4> -->
        <form action="#" class="form" method="post">
            {%csrf_token%}
          <div class="input-box animation" style="--i: 2; --j: 23">
           {{form.username}}
            <label>Username</label>
            <i class="bx bxs-lock-alt"></i>
          </div>
          <div class="input-box animation" style="--i: 1; --j: 22">
            {{form.email}}
            <label>Email</label>
            <!-- boxicons.com -->
            <i class="bx bxs-envelope"></i>
          </div>

          <div class="input-box animation" style="--i: 2; --j: 24">
            {{form.password}}
            <label>Password</label>
            <i class="bx bxs-lock-alt"></i>
          </div>
       
          <button type="submit" class="btn animation" style="--i: 5; --j: 26">
            SignUp
          </button>
          <div class="logreg-link animation" style="--i: 7; --j: 27">
            <p>
              Already amember ?
              <a href="#" class="register-link animation">LogIn</a>
            </p>
          </div>
        </form>
      </div>
      <div class="info-text login">
        <h2 class="animation" style="--i: 0; --j: 20">HELp</h2>
      </div>

    {%include 'authentication/login.html'%}
    <script src="{% static 'js/form.js' %}"></script>
  </body>
</html>
