{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
  </head>
  <body>
    {% for blog in blogs %}
    {% if forloop.counter0|divisibleby:3 %}
    <div class="container">
      {% endif %}
      <div class="card">
        <div class="box">
          <div class="content">
            <h2>0{{blog.id}}</h2>
            <h3>{{blog.title}}</h3>
            <p>
              {{blog.description}}
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:3 or forloop.last %}
      </div>
      {% endif %}
      {% endfor %}


  </body>
</html>
